---
import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";
import Layout from "../../layouts/Layout.astro";
import Contents from "../../components/Contents.astro";
import getReadingTime from "reading-time";

export async function getStaticPaths({
	paginate,
}: {
	paginate: PaginateFunction;
}) {
	const posts = await getCollection("posts");

	return paginate(posts, { pageSize: 2 });
}

const { page } = Astro.props;
---
<Layout title={`Posts - Page ${page.currentPage}`}>
    <Contents>
        <h1>Page {page.currentPage}</h1>
        <ul>
            {page.data.map((post) =>
            <li>
              <a href={post.id}>
                <article class="button">
                  <small><time datetime={post.data.date.toISOString()}>{post.data.date.toLocaleDateString()}</time> ⋅ {getReadingTime(post.body!).text}</small>
                  <hgroup>
                    <h2>{post.data.title}</h2>
                    <p>{post.data.description}</p>
                  </hgroup>
                </article>
              </a>
            </li>
            )}
        </ul>
    </Contents>
</Layout>

<style>
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--color);
  }

  a:visited {
    color: rgb(from var(--color) r g b / 0.5)
  }

  .button {
    border-left: 1px solid var(--color);
    padding: 0.5rem 1rem;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 0.4rem;
  }

  p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
</style>
