---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { config } from "../config";
import "../styles/global.css";
import { Font } from "astro:assets";
import type { ItemSchema } from "../content.config";
import { SEO } from "astro-seo";
import type { CollectionEntry } from "astro:content";
import type { DataEntryMap } from "astro:content";


export interface Props {
  title?: string;
  item?: CollectionEntry<keyof DataEntryMap> & { data: ItemSchema };
}

const { title, item } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
        rel="alternate"
        type="application/rss+xml"
        title={config.title}
        href={new URL("rss.xml", Astro.site)}
    />

    {item &&
      <SEO
        title={item.data.title}
        description={item.data.description}
        openGraph={{
          basic: {
            type: "article",
            title: item.data.title,
            image: item.data.image ? new URL(item.data.image, Astro.site).href : new URL(`/og/${item.collection}/${item.id}.png`, Astro.site).href,
          },
          article: {
            publishedTime: item.data.date.toISOString(),
            authors: [config.author.name],
            tags: item.data.tags,
          }
        }}
      />
    }

		<meta name="generator" content={Astro.generator} />

		<Font cssVariable="--font-serif" preload />
		<Font cssVariable="--font-sans" preload />

		<title>{item?.data.title ?? title ?? config.title}</title>

		<script>
      if (localStorage.getItem("theme")) {
        document.documentElement.setAttribute("data-theme", localStorage.getItem("theme")!);
      } else if (window.matchMedia("(prefers-color-scheme: light)").matches) {
        document.documentElement.setAttribute("data-theme", "light");
      } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.setAttribute("data-theme", "dark");
      }
      document.documentElement.setAttribute("data-transition", "true");
    </script>
	</head>
	<body>
	    <Header />
  		<div class="content-area">
  		    <slot />
  		</div>
    <Footer />
	</body>
</html>

<style>
	.content-area {
	  display: flex;
		justify-content: center;
	}
</style>
